@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: larger;
  text-align: left;
  color: #2d2b49;
}

/*self-added, can be deleted later*/
img {
  border-radius: 10em;
  width: 4em;
  transition: .5s;
}

img:hover {
  opacity: 50%;
}
/* -- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: aliceblue;
  border: none;
  padding: .5em 1em;
  margin: 1em;
  background-color: #7574db;
  transition: .2s;
  border-radius: 2em;
}

.but {
  font-weight: bold;
  border-radius: 0em 10em 10em 0;
  width: 200px;
}

button:hover {
  background-color: rgb(97, 170, 212);
}

input {
  padding: .2em;
}

.chat {
  width: 300px;
}

.user {
  color: #7574db;
}

.time {
  color: #7574db;
  font-style: normal;
  font-size: x-small;
}

li {
  margin-top: 1em;
}

